numpy==1.24.4
psmiles @ git+https://github.com/Ramprasad-Group/psmiles.git@d3a9029af9eeb40a546d6d2728228c57d81a8b53
importlib-metadata==6.8.0
rdkit==2023.9.1
scikit-learn==1.3.2
streamlit==1.22.0
torch==2.0.1



